{% extends "base.html" %}

{% block title %}Your Posts{% endblock %}

{% block content%}
    <h1>This are your Published posts</h1>
    {% for post in posts %}
    <h2>
        <a href="{{ post.get_absolute_url}}">{{ post.title }}

        </a>
        {% if post.image %}
        <a href="{{ post.get_absolute_url }}"><img src=" {{ post.image.url }}"
            style = "width : 50px; height: 30px;"
          
            ></a>
        {% endif %}
    </h2>
    {{post.body|truncatewords:3|linebreaks }}
    {% endfor %}
    {% if posts %}
        {% include "pagination/pagination.html" with page=posts%}
    {% endif %}
{% endblock %}